{% extends "base_template.html" %}
{% block content %}

    <div class="container">
        <div class="row card hoverable">
            <div class="card-content">
                <h4 class="center black-text"><strong>Hello! {{ username }}</strong></h4>
            </div>
            <div class="card-content">
                <h4 class="center black-text"><strong>These Are Your Events {{ username }}</strong></h4>
            </div>
            <ul class="collapsible popout">
                {% for event in events %}
                    <li>  
                        <div class="collapsible-header">{{ event.event_name }}</div>
                        <div class="collapsible-body"><span>{{event.type_of_event}}</span></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}