{% extends "base_template.html" %}
{% block content %}

  <div class="container">
    <div class="slider">
      <ul class="slides">
        <li>
          <img
            src="https://res.cloudinary.com/jose-cloudinary/image/upload/v1631410873/7f811e7ff8d949f7b671ddf6f29ae372_dlqzlc.png">
        </li>
        <li>
          <h1 class="center-align"><strong>Club-goers, festival fanatics, gig aficionados, this is your website! Find
              companions to
              go to your favourite events with! Enjoy <i class="far fa-smile-wink"></i></strong>
          </h1>
        </li>
        <li>
          <img
            src="https://res.cloudinary.com/jose-cloudinary/image/upload/v1631410877/matty-adame-nLUb9GThIcg-unsplash_psdvzr.jpg">
        </li>
        <li>
          <img
            src="https://res.cloudinary.com/jose-cloudinary/image/upload/v1631413411/sam-moqadam-DFaxMax8wcc-unsplash_y49j7s.jpg">
        </li>
        <li>
          <img
            src="https://res.cloudinary.com/jose-cloudinary/image/upload/v1632274620/hanny-naibaho-aWXVxy8BSzc-unsplash_z6ouzv.jpg">
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col s6 center">
        <a href="{{ url_for('login') }}" class="btn btn-large waves-effect waves-light blue">
          Login
          <i class="fas fa-sign-in-alt right"></i>
        </a>
      </div>
      <div class="col s6 center">
        <a href="{{ url_for('signup') }}" class="btn btn-large waves-effect waves-light blue">
          Sign Up
          <i class="fas fa-user-plus right"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}